html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: sans-serif;
}

.content{
    width: 100%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: rgb(99, 99, 99);
    font-weight: bold;
    font-size: 24px;
}

.logo span{    
    display: inline-block;
}

.hamburger-wrapper{
    padding-right: 15px;
}

nav{
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: white;
    padding: 0;
    margin: 0;
}

.menu{
    text-align: center;
}

.account{
    text-align: right;
}

nav{
    transition: 1.5s;
}

nav.black{
    background: rgba(24, 24, 24, 100);
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(99, 99, 99);
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li a:hover{
    color: rgb(220, 220, 220);
}

nav:hover{
    padding-top: 10px;
    padding-bottom: 10px;
}